.card {
    width: 90%;
    max-width: 400px;
    width: 400px;
    height: 170px;
    background-color: rgb(20, 26, 31);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 10px black, 2px 2px 20px black;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px;
}

.card:hover{
    box-shadow: 2px 2px 10px rgb(87, 195, 219), 2px 2px 20px rgb(82, 205, 207);
}

.hover-card img {
    height: 80%;
    filter: drop-shadow(2px 2px 10px black);
}

.hover-card {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(121, 205, 220, 0.486), rgba(12, 17, 20, 0.495));
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
}

.card:hover .hover-card {
    transform: translateY(0%);
}


.card h1{
    background: linear-gradient(to right, rgb(98, 193, 217), white);
    background-clip: text;
    color: transparent;
}

.card-buttons {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.card-buttons a {
  text-decoration: none;
}

.deploy-btn {
  background-color: rgb(87, 195, 219);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.card:hover .deploy-btn {
  opacity: 1;
}

.deploy-btn:hover {
  background-color: rgb(198, 42, 96); 
  transform: scale(1.1);
}
